<h2>New Event</h2>

@for (type of eventTypeButtons; track type) {
	<button
		class="event-type-button {{ selectedEventType == type ? 'selected' : '' }}"
		(click)="setSelectedEventType(type)"
	>
		{{ type }}
	</button>
}
<br />
<br />
@switch (selectedEventType) {
	@case ("Reminder") {
		<div>Title:</div>
		<textarea [formControl]="eventText"></textarea>
		<div>Date:</div>
		<input type="date" [formControl]="date" />
	}
	@case ("Birthday") {
		<div>Who:</div>
		<textarea [formControl]="eventText"></textarea>
		<div>Date:</div>
		<input type="date" [formControl]="date" />
	}
	@case ("World") {
		<div>Title:</div>
		<textarea [formControl]="eventText"></textarea>
		<div>iCalendar RRULE or DD-MM</div>
		<textarea [formControl]="date"></textarea>
	}
}
<div>Days notice:</div>
<input type="number" min="1" [formControl]="daysNotice" />
<br />
<br />
<button (click)="onCreate()">Create</button>
@if (successMessage) {
	<p class="success">{{ successMessage }}</p>
}
@if (errorMessage) {
	<p class="error">{{ errorMessage }}</p>
}
