<h2>New Event</h2>

<app-event-type-selector
	(optionClicked)="setSelectedEventType($event)"
	[selectedOptions]="[selectedEventType]"
	[options]="eventTypeOptions"
/>

<br />
<br />
@if (selectedEventType === "Birthday") {
	<div>Who:</div>
} @else {
	<div>Title:</div>
}
<textarea [(ngModel)]="eventText"></textarea>

<div>Date:</div>
<app-event-date-type-selector
	(optionClicked)="setSelectedDateType($event)"
	[selectedOptions]="[selectedDateType]"
	[options]="dateTypeOptions"
/>

<br />
@switch (selectedDateType) {
	@case ("Dateyear") {
		<input type="date" [(ngModel)]="date" />
	}
	@case ("Date") {
		<textarea [(ngModel)]="date" placeholder="DD-MM"></textarea>
	}
	@case ("RRule") {
		<textarea [(ngModel)]="date" placeholder="RRule"></textarea>
	}
	@case ("Custom") {
		<textarea [(ngModel)]="date" placeholder="Custom"></textarea>
	}
}

<div>Days notice:</div>
<input type="number" min="1" [(ngModel)]="daysNotice" />
<br />
<br />
<button (click)="onCreate()">Create</button>
@if (successMessage) {
	<p class="success">{{ successMessage }}</p>
}
@if (errorMessage) {
	<p class="error">{{ errorMessage }}</p>
}
