<app-event-type-selector
	[options]="allEventTypes"
	[selectedOptions]="shownEventTypes()"
	(optionClicked)="toggleEventTypeOption($event)"
></app-event-type-selector>

<div class="month-group-container">
	@for (monthGroup of monthGroups(); track $index) {
		<div class="month-group">
			<div class="title">{{ getMonthGroupTitle(monthGroup) }}</div>
			<div class="events">
				@for (event of monthGroup.events; track $index) {
					<div class="event" (click)="onEventClick.emit(event)" [title]="event.eventText">
						<div
							class="circle"
							[style.background-color]="getMonthEventCircleColor(event.eventType)"
						></div>
						<div class="desc">{{ getMonthEventDateText(event) }}</div>
					</div>
				}
			</div>
		</div>
	}
</div>
