<h1 class="title">Settings</h1>

<div class="settings-actions">
	<button class="btn btn-primary" (click)="openNewEventModal()">New Event</button>
	<button class="btn btn-secondary" (click)="toggleShowEvents()">
		{{ getToggleEventsButtonText() }}
	</button>
</div>

@if (showAllEvents) {
	<app-all-events-view
		[allEventsData]="allEventsData"
		(onEventClick)="openEventEditModal($event)"
	/>
}

@if (isEventFormModalOpen) {
	<app-modal (onClose)="closeNewEventModal()" [width]="'60vw'" [height]="'60vh'">
		<app-event-form
			[initialData]="eventFormModalInitialData"
			[isEdit]="eventFormModalIsEdit"
		></app-event-form>
	</app-modal>
}

@if (allEventsDataQuery.isError()) {
	<p class="error">
		{{ allEventsDataQuery.error().stack || allEventsDataQuery.error().message }}
	</p>
}
