<h1 class="title">Settings</h1>

<button class="new-button" (click)="openNewEventModal()">New</button>
<br />
<br />
<button class="toggle-all-events" (click)="toggleShowEvents()">
	{{ getToggleEventsButtonText() }}
</button>
<br />
@if (showAllEvents) {
	<app-all-events-view
		[allEventsData]="allEventsData"
		(onEventClick)="openEventEditModal($event)"
	/>
}

@if (isEventFormModalOpen) {
	<app-modal (onClose)="closeNewEventModal()" [width]="'60vw'" [height]="'60vh'">
		<app-event-form
			[initialData]="eventFormModalInitialData"
			[isEdit]="eventFormModalIsEdit"
			(onClose)="closeNewEventModal()"
		></app-event-form>
	</app-modal>
}

@if (allEventsDataQuery.isError()) {
	<p class="error">
		{{ allEventsDataQuery.error().stack || allEventsDataQuery.error().message }}
	</p>
}
