.title {
	font-size: 1.5rem;
	font-weight: 500;
	padding: 0.2rem;
}

.card-group {
	display: flex;
	flex-wrap: wrap;
	gap: 1.5rem;
	justify-content: flex-start;
	align-items: stretch;
	padding: 0.5rem 0;
	margin-bottom: 0.6rem;
}

.nothing {
	padding: 0.2rem;
	margin-top: 0.4rem;
}
