html,
body {
	min-height: 100%;
}

body {
	background: linear-gradient(135deg, rgb(60, 9, 108), rgb(142, 151, 253));
	font-family: Roboto, "Helvetica Neue", sans-serif;
	color: #fff;
}

* {
	box-sizing: border-box;
}

.success {
	color: rgb(139, 224, 42);
}

.error {
	color: rgb(255, 70, 70);
}

.pending {
	color: rgb(51, 51, 255);
}
