<div class="dashboard-container">
	<div class="header">
		<button class="settings-button" (click)="openSettings()">
			<mat-icon>settings</mat-icon>
		</button>
	</div>
	<app-weather></app-weather>
	<br />
	@for (groupGroup of groupGroups(); track groupGroup) {
		<app-card-group [group]="groupGroup"></app-card-group>
	}
	@if (dashboardDataQuery.isError()) {
		<p class="error">
			{{ dashboardDataQuery.error().stack || dashboardDataQuery.error().message }}
		</p>
	}
</div>

@if (isSettingsOpen) {
	<app-modal (onClose)="closeSettings()" [width]="'80vw'" [height]="'80vh'">
		<app-settings></app-settings>
	</app-modal>
}
